.footer{
    background-color: #17161b;
    padding-top:4rem;
    padding-bottom:3rem;
    color: var(--white-color);
    font-size: 1rem;
    h3{
        font-size: 1.5rem;
    }
    p{
        font-size: 0.90rem;
    }
    ul{
        list-style: none;
        padding-left: 0;
        li{
            a{
                text-decoration: none;
                color: var(--white-color);
                font-size: 0.90rem;
            }
        }
    }
}