.special{
    background: url('../../images/boy1.jpg') center/cover no-repeat !important;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .row{
        min-height: 60vh;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction:row;
    }
    &-inner{       
        span{
            font-size: 28px;
            color: var(--white-color);
            margin-bottom: 0.3rem;
            @media (max-width: 575.98px) {
                font-size: 20px;
            }
        }
        h2{
            font-size: 60px;
            margin-bottom: 1rem; 
            color: var(--white-color);
            @media (max-width: 575.98px) {
                font-size: 35x;
            }

        }
        .btn{
            color: var(--text-color);
            border:0;
        }

    }
}